<div class="max-w-md mx-auto relative">
  <span *ngIf="loading" class="loading loading-spinner loading-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>

  <div class="mb-2">
    <h3>Login to your account</h3>
  </div>

  <div class="mb-4" [ngClass]="{'opacity-50': loading}">
    <label class="label">
      <span class="label-text">Username</span>
    </label>
    <input #username class="" type="text" name="username" placeholder="Enter your username">

    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input #password type="password" name="password" placeholder="Enter your password" />
  </div>

  <button class="btn btn-primary mb-4" (click)="login(username.value, password.value)">Login</button>
</div>