<div class="max-w-md mx-auto">
  <div class="mb-2">
    <h3>Login to your account</h3>
  </div>

  <div class="mb-4">
    <label class="label">
      <span class="label-text">Username</span>
    </label>
    <input #username class="" type="text" name="username" placeholder="Enter your username">

    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input #password type="password" name="password" placeholder="Enter your password" />
  </div>

  <button class="btn btn-primary mb-4" (click)="login(username.value, password.value)">Login</button>
</div>