Create your Yuforium account:
<form [formGroup]="signupForm">
    <div class="relative mb-8">
        <label for="signup-username">Username</label>
        <input #username id="signup-username" type="text" formControlName="username" [ngClass]="{invalid: getInvalidatedState('username')}">
        <p class="error">
            {{ getInvalidatedErrors('username')[0] }}
            <span *ngIf="(getInvalidatedErrors('username') | slice : 1).length; let additionalErrorCount">,
                <span>+{{ additionalErrorCount }} more</span>
            </span>
        </p>
    </div>

    <div class="relative mb-8">
        <label for="signup-password">Password</label>
        <input #password id="signup-password" type="password" formControlName="password" [ngClass]="{invalid: getInvalidatedState('password')}">
        <p class="error">
            {{ getInvalidatedErrors('password')[0] }}
            <span *ngIf="(getInvalidatedErrors('password') | slice : 1).length; let additionalErrorCount">,
                <span>+{{ additionalErrorCount }} more</span>
            </span>
        </p>
    </div>

    <div class="relative mb-8">
        <label for="signup-password-again">Password (Again)</label>
        <input #passwordAgain id="signup-password-again" type="password" formControlName="passwordAgain" [ngClass]="{invalid: getInvalidatedState('passwordAgain')}">
        <p class="error">
            {{ getInvalidatedErrors('passwordAgain')[0] }}
            <span *ngIf="(getInvalidatedErrors('passwordAgain') | slice : 1).length; let additionalErrorCount">, +{{ additionalErrorCount }} more</span>
        </p>
    </div>

    <div class="relative mb-8">
        <label for="signup-email">Email</label>
        <input #email id="signup-email" type="text" formControlName="email" [ngClass]="{invalid: getInvalidatedState('passwordAgain')}">
        <p class="error">
            {{ getInvalidatedErrors('email')[0] }}
            <span *ngIf="(getInvalidatedErrors('email') | slice : 1).length; let additionalErrorCount">, +{{ additionalErrorCount }} more</span>
        </p>
    </div>
</form>

<button #button
    (click)="signup(username.value, password.value, passwordAgain.value, email.value)"
    type="button" class="my-2 py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
    Sign Up
</button>
