<div class="max-w-md mx-auto static">
  <span *ngIf="loading" class="loading loading-spinner loading-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
  <div class="mb-2">
    <h3>Sign up</h3>
    <p>Sign up with {{ appName }} by creating a free account.</p>
  </div>

  <div class="alert alert-error" *ngIf="displayError">
    <span>please enter all fields correctly</span>
  </div>

  <ng-template #errorTemplate let-control="control" let-initial="initial">
    <span *ngIf="initial && control.untouched" class="label-text-alt text-sky-500">{{ initial }}</span>
    <ng-container *ngIf="control.touched">
      <span class="label-text-alt text-red-500" *ngIf="control.invalid" [ngSwitch]="(control.errors | keyvalue)[0].key">
        <ng-container *ngSwitchCase="'required'">Required</ng-container>
        <ng-container *ngSwitchCase="'minlength'">Too short</ng-container>
        <ng-container *ngSwitchCase="'maxlength'">Too long</ng-container>
        <ng-container *ngSwitchCase="'pattern'">Letters and numbers only</ng-container>
        <ng-container *ngSwitchCase="'email'">Invalid email</ng-container>
        <ng-container *ngSwitchCase="'passwordMatch'">Passwords do not match</ng-container>
        <ng-container *ngSwitchCase="'userExists'">User already exists</ng-container>
        <ng-container *ngSwitchDefault>Unknown error</ng-container>
      </span>
      <span class="label-text-alt text-sky-500" *ngIf="control.valid">Looks ok!</span>
    </ng-container>
    <!-- <span *ngIf="control.errors && !control.untouched">{{ control.errors | json }}</span> -->
  </ng-template>

  <form class="mb-4 container" [formGroup]="signupForm" [ngClass]="{'opacity-50': loading}">
    <div class="mb-2">
      <label class="label">
        <span class="label-text">Username</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['username'], initial: 'Required'};" ></ng-container>
      </label>
      <input #username id="signup-username" type="text" autocomplete="off" formControlName="username" placeholder="enter username">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Password</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['password'], initial: 'Required'};" ></ng-container>
      </label>
      <input #password id="signup-password" type="password" formControlName="password" placeholder="enter password">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Password (again)</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['passwordAgain'], initial: 'Required'};" ></ng-container>
      </label>
      <input #passwordAgain id="signup-password-again" type="password" formControlName="passwordAgain" placeholder="verify password">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Email</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['email'], initial: 'Required'};" ></ng-container>
      </label>
      <input #email id="signup-email" type="text" formControlName="email" placeholder="user@example.com">
    </div>

    <button #button
      tabindex="0"
      (click)="signup(username.value, password.value, passwordAgain.value, email.value)"
      type="button"
      class="btn btn-primary mt-4"
      >
    Sign Up
    </button>
  </form>

</div>