<div>
  <main role="main">
    <app-actor-header [actor]="user$"></app-actor-header>

    <div class="sticky top-20 bg-base-100 bg-opacity-95 mb-2 p-2 rounded-lg">
      <div class="flex">
        <div class="flex flex-grow items-center">
          @if (isLoadingError) {
            Error loading posts <a class="btn btn-sm ml-4" (click)="loadContent()">Retry</a>
          }
          @else {
            @if (pagination.length > 1) {
              <div class="join mr-4">
                @for (page of pagination; track page) {
                  @if (page) {
                    <button class="join-item btn btn-sm" [class.btn-active]="page === currentPage + 1" (click)="loadContent(page - 1)" [innerHTML]="page"></button>
                  }
                  @else {
                    <button class="join-item btn btn-sm btn-disabled">&hellip;</button>
                  }
                }
              </div>
            }
            <span class="text-sm font-bold">{{ totalItems | i18nPlural : totalItemsMap }}</span>
          }
        </div>
        <button hlmBtn class="flex-none" [disabled]="isPosting" (click)="isPosting = true">
          <hlm-icon class="mr-2" name="lucideFilePlus" />
          New Post
        </button>
      </div>

      @if (isPosting) {
        <section hlmCard class="p-1">
          <div hlmCardHeader>
            <h3 hlmCardTitle>New Post</h3>
          </div>
          <div hlmCardContent>
            <div class="mb-3 hidden">
              <label for="addressee" class="block text-sm font-medium text-gray-700">Addressee</label>
              <input name="addressee" #addressee class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" placeholder="#Public">
            </div>
            <div class="mb-3">
              <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
              <textarea name="content" #postbox rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 w-full sm:text-sm border border-gray-300 rounded-md hidden" placeholder="Enter your message here"></textarea>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="html" [placeholder]="'Type here...'"></ngx-editor>
              </div>
            </div>
          </div>
          <div hlmCardFooter class="justify-end">
            <button hlmBtn variant="outline" class="btn btn-outline" (click)="isPosting = false">Cancel</button>
            <button hlmBtn variant="default" class="btn btn-primary" (click)="postMessage(addressee.value)">Post</button>
          </div>
        </section>
      }

    </div>

    <div>
    @if (isLoadingError) {
      <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Loading failed</span>
      </div>
    }
    @else {
      @for (post of posts$ | async; track post.id) {
        <app-note [post]="post" [displayAuthor]="false" [excludeAuthors]="(user$ | async)?.id" (onReply)="this.onReply($event)"></app-note>
      }
    }
    </div>
  </main>
</div>
