<div class="max-w-md mx-auto relative">
  @if (loading) {
    <hlm-spinner class="absolute top-1/2 left-1/2"></hlm-spinner>
  }

  <div hlmH3 class="my-4">
    <h3>Login to your account</h3>
  </div>

  @if (loginError) {
    <div hlmAlert class="mb-2">
      <hlm-icon hlmAlertIcon name="lucideShieldAlert" />
      <h4 hlmAlertTitle>Login failed</h4 >
      <p hlmAlertDesc>{{ loginErrorMessage }}</p>
    </div>
  }
  @else {
    <div hlmAlert [class.opacity-50]="loading" class="mb-2">
      <hlm-icon hlmAlertIcon name="lucideInfo" />
      <h4 hlmAlertTitle>Don't have an account?</h4>
      <p hlmAlertDesc><a [routerLink]="['/', 'signup']">Click here</a> to create a new one.</p>
    </div>
  }

  <div [class.opacity-50]="loading" class="mb-4">
    <label hlmLabel>
      Username
      <input hlmInput #username class="w-full" type="text" name="username" placeholder="Enter your username" />
    </label>
    <label hlmLabel>
      Password
      <input hlmInput #password class="w-full" type="password" name="password" placeholder="Enter your password" />
    </label>
  </div>

  <button hlmBtn (click)="login(username.value, password.value)" [disabled]="loading">Login</button>
</div>
