<div class="max-w-md mx-auto static">
  @if (loading) {
    <hlm-spinner class="absolute top-1/2 left-1/2"></hlm-spinner>
  }

  <div class="my-4">
    <h3 hlmH3>Sign up</h3 >
    <p>Sign up with {{ appName || 'Yuforium' }} by creating a free account.</p>
  </div>

  @if (displayError) {
    <div hlmAlert class="mb-4">
      <hlm-icon hlmAlertIcon name="lucideShieldAlert" />
      <h4 hlmAlertTitle>Please enter all fields correctly</h4 >
      <p hlmAlertDesc>Not all fields were entered correctly, please check the form for any errors.</p>
    </div>
  }

  <ng-template #errorTemplate let-control="control" let-initial="initial">
    @if (initial && control.untouched) {
      <span class="flex-none label-text-alt">{{ initial }}</span>
    }

    @if (control.touched) {
      @if (control.invalid) {
        <span class="flex-none label-text-alt text-red-500" *ngIf="control.invalid" [ngSwitch]="(control.errors | keyvalue)[0].key">
          @switch ((control.errors | keyvalue)[0].key) {
            @case ('required') {
              Required
            }
            @case ('minlength') {
              Too short
            }
            @case ('maxlength') {
              Too long
            }
            @case ('pattern') {
              Letters and numbers only
            }
            @case ('email') {
              Invalid email
            }
            @case ('passwordMatch') {
              Passwords do not match
            }
            @case ('userExists') {
              User already exists
            }
            @default {
              Unknown error
            }
          }
        </span>
      }
      @if (control.valid) {
        <span class="label-text-alt text-sky-500" *ngIf="control.valid">Looks ok!</span>
      }
    }
    <!-- <span *ngIf="control.errors && !control.untouched">{{ control.errors | json }}</span> -->
  </ng-template>

  <form class="mb-4" [formGroup]="signupForm" [class.opacity-50]="loading">
    <div class="mb-4">
      <label hlmLabel>
        <div class="flex mb-2">
          <span class="flex-1">Username</span>
          <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['username'], initial: 'Required'};" ></ng-container>
        </div>
        <input hlmInput #username class="w-full" id="signup-username" type="text" autocomplete="off" formControlName="username" placeholder="enter username">
      </label>
    </div>

    <div class="mb-4">
      <label hlmLabel>
        <div class="flex mb-2">
          <span class="flex-1">Password</span>
          <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['password'], initial: 'Required'};" ></ng-container>
        </div>
        <input hlmInput #password class="w-full" id="signup-password" type="password" formControlName="password" placeholder="enter password">
      </label>
    </div>

    <div class="mb-4">
      <label hlmLabel class="mt-2">
        <div class="flex mb-2">
          <span class="flex-1">Password (again)</span>
          <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['passwordAgain'], initial: 'Required'};" ></ng-container>
        </div>
        <input hlmInput #passwordAgain class="w-full" id="signup-password-again" type="password" formControlName="passwordAgain" placeholder="verify password">
      </label>
    </div >

    <div class="mb-4">
      <label hlmLabel>
        <div class="flex mb-2">
          <span class="flex-1">Email Address</span>
          <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['email'], initial: 'Required'};" ></ng-container>
        </div>
        <input hlmInput #email class="w-full" id="signup-email" type="text" formControlName="email" placeholder="user@example.com">
      </label>
    </div>

    <button hlmBtn #button
      tabindex="0"
      (click)="signup(username.value, password.value, passwordAgain.value, email.value)"
      type="button"
      class="btn btn-primary mt-4"
      >
    Sign Up
    </button >
  </form>

</div>
