<div class="max-w-md mx-auto static">
  @if (loading) {
    <hlm-spinner class="absolute top-1/2 left-1/2"></hlm-spinner>
  }

  <div class="my-4">
    <h3 hlmH3>Sign up</h3 >
    <p>Sign up with {{ appName || 'Yuforium' }} by creating a free account.</p>
  </div>

  @if (displayError) {
    <div hlmAlert class="mb-2">
      <hlm-icon hlmAlertIcon name="lucideShieldAlert" />
      <h4 hlmAlertTitle>No that won't work</h4 >
      <p hlmAlertDesc>Please enter all fields correctly.  There should be a little hint above each field that tells you what's up.</p>
    </div>
  }

  <ng-template #errorTemplate let-control="control" let-initial="initial">
    @if (initial && control.untouched) {
      <span *ngIf="initial && control.untouched" class="label-text-alt text-sky-500">{{ initial }}</span>
    }

    @if (control.touched) {
      @if (control.invalid) {
        <span class="label-text-alt text-red-500" *ngIf="control.invalid" [ngSwitch]="(control.errors | keyvalue)[0].key">
          @switch ((control.errors | keyvalue)[0].key) {
            @case ('required') {
              Required
            }
            @case ('minlength') {
              Too short
            }
            @case ('maxlength') {
              Too long
            }
            @case ('pattern') {
              Letters and numbers only
            }
            @case ('email') {
              Invalid email
            }
            @case ('passwordMatch') {
              Passwords do not match
            }
            @case ('userExists') {
              User already exists
            }
            @default {
              Unknown error
            }
          }
        </span>
      }
      @if (control.valid) {
        <span class="label-text-alt text-sky-500" *ngIf="control.valid">Looks ok!</span>
      }
    }
    <!-- <span *ngIf="control.errors && !control.untouched">{{ control.errors | json }}</span> -->
  </ng-template>

  <form class="mb-4 container" [formGroup]="signupForm" [ngClass]="{'opacity-50': loading}">
    <div class="mb-2">
      <label class="label">
        <span class="label-text">Username</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['username'], initial: 'Required'};" ></ng-container>
      </label>
      <input #username id="signup-username" type="text" autocomplete="off" formControlName="username" placeholder="enter username">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Password</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['password'], initial: 'Required'};" ></ng-container>
      </label>
      <input #password id="signup-password" type="password" formControlName="password" placeholder="enter password">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Password (again)</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['passwordAgain'], initial: 'Required'};" ></ng-container>
      </label>
      <input #passwordAgain id="signup-password-again" type="password" formControlName="passwordAgain" placeholder="verify password">
    </div>

    <div class="mb-2">
      <label class="label">
        <span class="label-text">Email</span>
        <ng-container *ngTemplateOutlet="errorTemplate; context: {control: signupForm.controls['email'], initial: 'Required'};" ></ng-container>
      </label>
      <input #email id="signup-email" type="text" formControlName="email" placeholder="user@example.com">
    </div>

    <button hlmBtn #button
      tabindex="0"
      (click)="signup(username.value, password.value, passwordAgain.value, email.value)"
      type="button"
      class="btn btn-primary mt-4"
      >
    Sign Up
    </button >
  </form>

</div>
