<div class="mb-2">
    <h3>Post to the forum</h3>
</div>

<div class="mb-4">
    <label class="label">
        <span class="label-text">Title</span>
    </label>
    <input #title type="text" name="title" placeholder="Enter your title" />

    <label class="label">
        <span class="label-text">Content</span>
    </label>
    <textarea #content name="content" class="textarea textarea-bordered w-full" placeholder="Enter your content"></textarea>
</div>

<button class="btn btn-primary mb-4" (click)="post(title.value, content.value)">Post</button>