<div class="sticky top-20 bg-base-100 bg-opacity-70 mb-4">
  <div class="flex">
    <div class="flex flex-grow items-center">
      Pagination list
    </div>
    <button hlmBtn class="flex-none" [disabled]="isPosting" (click)="isPosting = true">
      <hlm-icon class="mr-2" name="lucideFilePlus" />
      New Post
    </button>
  </div>

  @if (isPosting) {
    <div hlmCard>
      <div hlmCardHeader>
        <h3 hlmCardTitle>New Post</h3>
      </div>
      <div hlmCardContent>
        <div class="mb-3">
          <label for="addressee" class="block text-sm font-medium text-gray-700">Title</label>
          <input [(ngModel)]="name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-2" placeholder="#Title">
        </div>
        <div class="mb-3">
          <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
          <textarea name="content" #postbox rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 w-full sm:text-sm border border-gray-300 rounded-md hidden" placeholder="Enter your message here"></textarea>
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor [editor]="editor" [(ngModel)]="html" [placeholder]="'Type here...'"></ngx-editor>
          </div>
        </div>
      </div>
      <div hlmCardFooter class="justify-end">
        <button hlmBtn variant="outline" (click)="isPosting = false">Cancel</button>
        <button hlmBtn (click)="postMessage()">Post</button>
      </div>
    </div>
  }
</div>

<div>
  <div *ngFor="let post of posts$ | async" class="mb-3">
    <app-note [post]="post" [excludeAuthors]="(forum$ | async)?.id" (onReply)="this.onReply($event)" (onContentClick)="onContentClick($event)"></app-note>
  </div>
</div>
